body{
     background-image: url(/images/background.jpg); 
    background-color: black;
    background-size: cover;
    background-origin: inherit;
    text-align: center;
}
heading{
    text-align: center;
    
    position:static;
    font-style: italic;
    font-size: 60px;
    display: grid;
    grid-gap: 100px;
    

}
section{
    text-align: center;
    margin: auto;
    
    top: 20%;
    height: 100;
    position: relative;
    width: 350px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.418);
    
     display:grid;
     grid-area: auto;
     
     
     align-items: center;
     justify-items: center;
   
}

section p{
    text-decoration: solid;
    font-size: xx-large;
    display: grid;
    display:flex;
    grid-template-columns: 200px;
    grid-template-rows: 500px;
    flex-grow: 5;
    grid-gap:10px;
    color:rgb(13, 240, 191);
    align-items: center;
    margin-left:12%;
    margin-top: -25%;
    
}


/* .email{ 
    display: flex;
    display: grid;
    
    
    
    
    
}*/
.grid{
    background-color: aliceblue;
    display: felx;
}
section button{
   
   
    
    border: 10px solid rgb(236, 77, 77);
    padding: 6px 14px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 10%;
}
section botton:hover{

    background-color: aquamarine;
    color: rgb(15, 19, 17);
    transition: 2s;
}

footer{
    font-style: oblique;
    
    font-size: larger;
    margin: 400 0 0 0;

    


}
footer p{
    color: rgb(231, 235, 28);

}


 /* .wrapper{ 
    display: flex;
    justify-content: center;
    margin-top: 90px;
    box-shadow: 0px 30px 50px 0px rgba(176, 8, 222, 0.326);
    min-height: 50vh;
    width: 35%;

} */
